html {
  --wp-admin--sidebar-width: 160px;
}

html:has(.folded) {
  --wp-admin--sidebar-width: 36px;
}

.wp-admin.toplevel_page_jooosi-mail {
  #wpcontent {
    padding-left: 0 !important;

    #wpbody {
      /* background-color: var(--background); */
      /* color: var(--foreground); */
      /* position: fixed !important; */
      /* height: 100%; */
      /* width: calc(100% - var(--wp-admin--sidebar-width)); */

      #wpbody-content {
        padding-bottom: 0;

        /* hide the notice nag if it doesn't have .jooosi-mail-notice */
        .notice:not(.jooosi-mail-notice) {
          display: none;
        }

        #jooosi-mail-app {
          isolation: isolate;
        }
      }
    }
  }

  #wpfooter {
    display: none;
  }

  /* Hide the update nag */
  .update-nag {
    display: none;
  }

  #adminmenumain #adminmenu li img {
    display: inline;
  }
}
